@import "src/assets/scss/variables";

.product-card {
    $uc: &;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba($gray-500, 0.5);
    transition: all 0.5s ease;

    &:hover {
        box-shadow: 0 2px 12px rgba($color-info, 0.5);

        #{$uc}__actions {
            opacity: 1;
            visibility: visible;
        }
    }

    &__figure {
        position: relative;
        overflow: hidden;
    }

    &__actions {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: all 0.15s ease;

        @media (max-width: 767px) {
            opacity: 1 !important;
            visibility: visible !important;
        }
    }

    &__action {
        transition: all 0.15s ease;
        background-color: $gray-100;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 5px;

        &:hover {
            color: $color-info
        }
    }

    &__avatar {
        width: 100%;
        object-fit: cover;
        transition: all 0.5s ease-out;

        &:hover {
            transform: scale(1.15);
            transition: all 0.25s ease-in;
        }
    }

    &__department {
        text-transform: uppercase;
        font-size: 12px;
        color: $gray-600;
        display: flex;
        align-items: center;
    }

    &__product-name {
        font-weight: 300;
        margin: 5px 0 10px;
    }

    &__color {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
    }

    &__price {
        font-weight: 300;
        margin: 5px 0 10px;
        font-size: 30px;
    }

    &__meta {
        font-size: 12px;

        .pill {
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__footer {
        padding: $spacer / 2;
        background-color: $gray-100;
    }
}
