@import "src/assets/scss/variables";

.login-form {
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba($gray-500, 0.5);
    transition: all 0.5s ease;
    max-width: 320px;
    overflow: hidden;

    &__header {
        border-bottom: 1px solid $gray-200;
        padding: $spacer / 2;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 80%;
        }
    }

    &__fields {
        padding: $spacer / 2;

        &--is-closed {
            display: none;
        }
    }

    &__fields-accordion {
        &--is-closed {
            display: none;
        }
    }

    &__fields-header {
        color: $gray-600;
        padding-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &::after {
            content: "\f107";
            font-family: "FontAwesome", sans-serif;
            transition: all 0.15s ease;
        }

        &--is-open {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    &__oauth-provider {
        text-align: center;
        padding: 10px;
        display: block;
        border-radius: 4px;
        margin-bottom: 10px;
        color: $gray-100;
        cursor: pointer;
        transition: all 0.15s ease;

        &:hover {
            opacity: 0.9;
        }

        &--google {
            background-color: #4284f5;
        }

        &--facebook {
            background-color: #3b5998;
        }

        &--instagram {
            background-color: #e53f5e;
        }
    }

    &__footer {
        padding: $spacer / 2;
        border-top: 1px solid $gray-200;
        background-color: rgba($gray-200, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
