@import "src/assets/scss/variables";

.product-form {
    display: flex;

    &__avatar {
        flex-basis: 200px;
        margin-right: $spacer;

        label {
            display: block;
            color: $gray-400;
            font-size: 12px;
            text-transform: uppercase;
        }

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__avatar-regenerate {
        color: $gray-400;
        font-size: 12px;
        cursor: pointer;
        padding: 5px;
    }

    &__fields {
        flex: 1;
    }

    &__fields-grid {
        flex: 1;
        display: grid;
        grid-gap: $spacer / 2;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }
}
