@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.form-field {
    margin-bottom: $spacer / 2;
    position: relative;

    &__label {
        display: block;
        color: $gray-400;
        font-size: 12px;
        text-transform: uppercase;
    }

    &__control {
        border: 1px solid $gray-300;
        border-radius: 4px;
        width: 100%;
        padding: 5px 10px;

        &:focus {
            @include prettyFocus();
        }
    }

    &__required {
        color: $color-danger;
    }

    &__revealer {
        color: $gray-500;
        cursor: pointer;
        position: absolute;
        right: 8px;
        top: 25px;
    }

    [type="color"] {
        -webkit-appearance: none;
        width: 34px;
        height: 34px;
        border-radius: 34px;
        padding: 0;
        overflow: hidden;
        border: 1px solid $gray-200;

        &::-webkit-color-swatch-wrapper {
            padding: 0;
        }

        &::-webkit-color-swatch {
            border: none;
        }
    }
}
