@import "src/assets/scss/variables";

.layout {
    height: 100%;

    &__main-navigation {
        height: 100%;
    }

    &__page-body {
        padding: $spacer / 2;
    }

    &__site-header {

    }
}
